.fondo {
    background-color: #be95c4;
  }
  
/* Estilo para el sidebar */
.nav-link {
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #f8f9fa; /* Color de fondo al pasar el mouse */
  text-decoration: none; /* Quita subrayado */
}

/* Spinner.css */
.spinner {
  border: 8px solid #f3f3f3; /* Color de fondo */
  border-top: 8px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  width: 40px; /* Tamaño del spinner */
  height: 40px; /* Tamaño del spinner */
  animation: spin 1s linear infinite; /* Animación */
  margin: 0 auto; /* Centrar el spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
